.logo_user{
    width: 122.68px;
    height: 19.53px;
    align-self: center;
}

.space{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.headder_div button{
    margin: auto 0;
}

.headder_div{
    display: flex;
    width: 100%;
    height: 69px;
    background-color: var(--color_grey1);
    box-shadow: -1px 17px 20px -11px rgba(235,218,235,1);
}

@media(min-width: 1024px){
    .headder_div{
        height: 88px;
    }
}